@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

body{
    margin: 0;
    padding:0;
    font-family: "Open Sans", sans-serif;
}

.bg-h-pattern {
    background-image: url('./assets/img/amount.png');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.appContainer {
    @apply flex relative dark:bg-main-dark-bg;
}

.tooltipContainer {
    @apply fixed right-4 bottom-4;
}

.settingsButton {
    @apply text-3xl p-3 text-white hover:drop-shadow-xl hover:bg-light-gray;
}

.sidebarContainer {
    @apply w-72 fixed bg-white dark:bg-secondary-dark-bg;
}

.sidebarContainerDisabled {
    @apply w-0 dark:bg-secondary-dark-bg;
}

.navbarContainer {
    @apply fixed w-full bg-main-bg md:static dark:bg-main-dark-bg;
}

.sidebarNav {
    @apply flex justify-between items-center;
}

.sidebarIcon {
    @apply w-5;
}

.sidebarLinks {
    @apply flex text-xl text-slate-900 font-extrabold tracking-tight items-center gap-3 ml-3 mt-4 dark:text-white;
}

.sidebarLinkActive {
    @apply flex items-center gap-5 pl-4 pt-3 pb-2.5 rounded-lg text-indigo-500 text-xl m-2;
}

.sidebarLinkNormal {
    @apply flex items-center gap-5 pl-4 pt-3 pb-2.5 rounded-lg text-lg text-gray-700 dark:text-gray-200 dark:hover:text-black hover:bg-light-gray m-2;
}

.sidebarCloseButton {
    @apply block mt-4 mr-3 p-3 text-xl rounded-full hover:bg-light-gray md:hidden;
}

.ecommercePage {
    @apply mt-12;
}

.ecommerceContainer {
    @apply flex flex-wrap justify-center lg:flex-nowrap;
}

.ecommerceContent {
    @apply bg-white dark:text-gray-200 dark:bg-secondary-dark-bg h-44 rounded-xl w-full lg:w-80 p-8 pt-9 m-3 bg-h-pattern bg-no-repeat bg-cover bg-center;
}

.ecommerceLeftInfo {
    @apply flex justify-between items-center;
}

.ecommerceInfoTitle {
    @apply font-bold text-gray-400;
}

.ecommerceInfoSubtitle {
    @apply text-2xl;
}

.ecommerceInfoButton {
    @apply mt-6;
}

.ecommerceCards {
    @apply flex flex-wrap justify-center items-center m-3 gap-3;
}

.ecommerceCard {
    @apply bg-white p-4 pt-9 rounded-2xl dark:text-gray-200 dark:bg-secondary-dark-bg md:w-56;
}

.ecommerceCard p {
    @apply mt-3;
}

.ecommerceCardIcon {
    @apply text-2xl opacity-90 rounded-full p-4 hover:drop-shadow-xl;
}

.ecommerceCardAmount {
    @apply text-lg font-semibold;
}

.ecommerceCardPercentage {
    @apply text-sm ml-2;
}

.ecommerceCardTitle {
    @apply text-sm text-gray-400;
}

.ecommerceGraphContainer {
    @apply flex flex-wrap justify-center gap-10;
}

.ecommerceGraphCard {
    @apply max-w-full bg-white m-6 p-6 rounded-2xl dark:text-gray-200;
}

.ecommerceGraphTitle {
    @apply flex justify-center m-6;
}

.ecommerceGraphTitle h2 {
    @apply font-semibold text-2xl;
}

.ecommerceGraphItems {
    @apply flex grid justify-center items-center gap-y-6 md:grid-cols-2;
}

.ecommerceGraphInfo {
    @apply flex flex-col items-center;
}

.ecommerceGraphAmount {
    @apply text-3xl font-semibold;
}

.ecommerceGraphPercentage {
    @apply p-1.5 ml-3 cursor-pointer rounded-full text-white text-xs bg-green-400 hover:drop-shadow-xl;
}

.ecommerceGraphSubtitle {
    @apply text-base;
}

.ecommerceGraphTopMargin {
    @apply mt-6;
}

.ecommerceGraphStackedSubtitle {
    @apply flex gap-6 my-6;
}

.ecommerceGraphStackedSubtitle p {
    @apply flex;
}