@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

body{
    margin: 0;
    padding:0;
    font-family: "Open Sans", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.appContainer {
    @apply flex relative dark:bg-main-dark-bg;
}

.tooltipContainer {
    @apply fixed right-4 bottom-4;
}

.settingsButton {
    @apply text-3xl p-3 text-white hover:drop-shadow-xl hover:bg-light-gray;
}

.sidebarContainer {
    @apply w-72 fixed bg-white dark:bg-secondary-dark-bg;
}

.sidebarContainerDisabled {
    @apply w-0 dark:bg-secondary-dark-bg;
}

.navbarContainer {
    @apply fixed w-full bg-main-bg md:static dark:bg-main-dark-bg;
}